header(class='bg-indigo-600 p-4') 
    div(class='container mx-auto flex justify-between items-center')
        a(href="/") 
            h1(class='text-2xl text-white font-extrabold text-center') Bienes
                span(class='font-normal') Raices 

        nav(class='my-5 text-sm md:flex md:items-center md:space-x-3 font-bold text-white ') 
            a(href="/auth/registro") Crear Cuenta
            a(href="/auth/login") Iniciar Sesión 
div(class='bg-indigo-700 py-5 px-5 hidden lg:block')
    div(class='container mx-auto flex justify-between items-center')
        nav(class='space-x-5') 
            a(href="/categorias/1" class='text-sm font-bold uppercase text-white') Chalets 
            a(href="/categorias/2" class='text-sm font-bold uppercase text-white') Pisos 
            a(href="/categorias/3" class='text-sm font-bold uppercase text-white') Apartamentos 
            a(href="/categorias/4" class='text-sm font-bold uppercase text-white') Residencias 
            a(href="/categorias/5" class='text-sm font-bold uppercase text-white') Almacenes 
            a(href="/categorias/6" class='text-sm font-bold uppercase text-white') Terrenos
        form(action="/buscador" method='POST' class='flex gap-3 items-center')
            input(type="hidden" name='_csrf' value= csrfToken)
            label(for="termino" class='text-sm uppercase font-bold text-white') Búsqueda 
            input(type="text" id='termino' name='termino' placeholder='Buscar Propiedades' class='rounded-lg text-sm shadow p-2')
            input(type="submit" class='bg-indigo-800 hover:bg-indigo-600 transition-colors uppercase font-bold cursor-pointer rounded-lg text-white p-2' value='Buscar')   